<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>BestExCurr</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> 
	</head>
	<body>
    <div class="header">
      <div class="title">
        <h1>BestExCurr</h1>
      </div>
    </div>

    <div class="data">
      <h4>Today is <%= date %></h4>
      <h4>Last Update Time: </h4>
      

      <table>
      </table>
    </div>
  </body>
</html>