<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>BestExCurr</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> 
	</head>
	<body>
    <div class="header">
      <h1>BestExCurr</h1>
    </div>

    <div class="data">
      <h5>Date: </h5>
      <table>
      
      </table>
    </div>
  </body>
</html>